albumentations==2.0.3
coremltools==8.2
export==0.2.1
ipython==8.12.3
matplotlib==3.7.4
numpy==1.21.1
onnxruntime==1.20.1
opencv_python==4.9.0.80
openvino==2025.0.0
pafy==0.5.5
pandas==2.0.3
Pillow==11.1.0
protobuf==5.29.3
psutil==5.9.7
pycocotools==2.0.8
PyYAML==6.0.2
Requests==2.32.3
scipy==1.15.1
seaborn==0.13.2
setuptools==68.2.2
tensorflow==2.18.0
tensorrt==10.8.0.43
tflite_runtime==2.14.0
thop==0.1.1.post2209072238
torch==1.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.66.1
